
<section id="UserProfile">

    
       

        <div class="ProfileContainer">
    

            <div class="ProfileImage-ProfileName">
                <img src="/img/user_image.png" alt="">
                <h2><%= UserProfile.fullname %></h2>
                <p><i class="fa-solid fa-comment-dots"></i> ChatHub</p>
                
            </div>


                <div class="ProfileInfoUpdateable">

                        <div class="ProfilePicture">
                            <h1 style="font-size: 20px;">Profile Picture</h1>

                            <i class="fa-solid fa-chevron-right"></i>
                        </div>

                        <div class="FullName">
                            <h1 style="font-size: 20px;">Full Name</h1>

                            <i class="fa-solid fa-chevron-right"></i>
                        </div>


                        <div class="UserName">
                            <h1 style="font-size: 20px;">User Name</h1>

                            <i class="fa-solid fa-chevron-right"></i>
                        </div>


                        <div class="Email">
                            <h1 style="font-size: 20px;">Email</h1>

                            <i class="fa-solid fa-chevron-right"></i>
                        </div>


                        <div class="Password">
                            <h1 style="font-size: 20px;">Password</h1>

                            <i class="fa-solid fa-chevron-right"></i>
                        </div>


                        <div class="Birthday-Gender">
                            <h1 style="font-size: 20px;">Birthday & Gender</h1>

                            <i class="fa-solid fa-chevron-right"></i>
                        </div>

                </div>    

        </div>


           

</section>