
<section id="SettingSidebar">

    <div class="SidebarHeaderMessage">

        <h2><i class="fa-solid fa-comment-dots"></i> ChatHub</h2>

            <h1>Account Settings</h1>
            <p>Manage your connected experiences and account settings across Chathub</p>

    </div>
    
    
    <ul>
        <a href="#"><li><i class="fa-solid fa-user"></i> Profile</li></a>
    </ul>

</section>