<!DOCTYPE html>
<html lang="en">

    <%- include('partials/Head'); %>

<body>


    <div class="ChathubSettingsContainer">

        <%- include('partials/Sidebar'); %>

        <%- include('partials/Profile'); %>

        

        <a href="/account/messages"><i style="font-size: 40px; margin-top: 30px;" class="fa-solid fa-x"></i></a>


    </div>

  


    
</body>
</html>