@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@100&family=Roboto+Condensed:ital@1&family=Ubuntu:ital@1&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto Condensed', sans-serif;

}

.ChatHubFriendsContainer{
    width: 100%;
    height: 105vh;
    display: flex;
    justify-content: flex-end;
    align-items: flex-start;
    background-color: red;

}
  
  :root {
    /* ===== Colors ===== */
    --body-color: #e4e9f7;
    --sidebar-color: blueviolet;
    --primary-color: #695cfe;
    --primary-color-light: #f6f5ff;
    --toggle-color: #ddd;
    --text-color: #707070;
  
    /* ====== Transition ====== */
    --tran-03: all 0.2s ease;
    --tran-03: all 0.3s ease;
    --tran-04: all 0.3s ease;
    --tran-05: all 0.3s ease;
  }
  
  
  
  ::selection {
    background-color: var(--primary-color);
    color: #fff;
  }

  
 
  /* ===== Sidebar ===== */
  .sidebar {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 250px;
    background: blueviolet;
    z-index: 100;
  }

  
  .sidebar.close {
    width: 10.5%;
  }
  
  /* ===== Reusable code - Here ===== */
  .sidebar li {
    height: 50px;
    list-style: none;
    display: flex;
    align-items: center;
    margin-top: 40px;
  }
  
  .sidebar header .image,
  .sidebar .icon {
    min-width: 60px;
    border-radius: 6px;
  }
  
  .sidebar .icon {
    min-width: 60px;
    border-radius: 6px;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 20px;
  }
  
  .sidebar .text,
  .sidebar .icon {
    color: var(--text-color);
    transition: var(--tran-03);
  }
  
  .sidebar .text {
    font-size: 17px;
    font-weight: 500;
    white-space: nowrap;
    opacity: 1;
  }
  .sidebar.close .text {
    opacity: 0;
  }
  /* =========================== */
  
  .sidebar header {
    position: relative;
  }
  
  .sidebar header .image-text {
    display: flex;
    align-items: center;
  }
  .sidebar header .logo-text {
    display: flex;
    flex-direction: column;
  }
 
  
  
  .sidebar header .image {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .sidebar header .image img {
    width: 40px;
    border-radius: 6px;
  }
 
  
  body.dark .sidebar header .toggle {
    color: var(--text-color);
  }
  
  .sidebar.close .toggle {
    transform: translateY(-50%) rotate(0deg);
  }
  
  .sidebar .menu {
    margin-top: 40px;
  }
  
  .sidebar li.search-box {
    border-radius: 6px;
    background-color: var(--primary-color-light);
    cursor: pointer;
    transition: var(--tran-05);
  }
  
  .sidebar li.search-box input {
    height: 100%;
    width: 100%;
    outline: none;
    border: none;
    background-color: var(--primary-color-light);
    color: var(--text-color);
    border-radius: 6px;
    font-size: 17px;
    font-weight: 500;
    transition: var(--tran-05);
  }
  .sidebar li a {
    list-style: none;
    height: 100%;
    background-color: transparent;
    display: flex;
    align-items: center;
    width: 70%;
    border-radius: 6px;
    text-decoration: none;
    transition: var(--tran-03);
    padding: 30px 65px 30px 35px;
   
  }
  
  .sidebar li a:hover {
    background-color: #121212;
  }
  .sidebar li a:hover .icon,
  .sidebar li a:hover .text {
    color: var(--sidebar-color);
  }
  body.dark .sidebar li a:hover .icon,
  body.dark .sidebar li a:hover .text {
    color: var(--text-color);
  }
  
  .sidebar .menu-bar {
    height: calc(100% - 55px);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    overflow-y: scroll;
  }
  .menu-bar::-webkit-scrollbar {
    display: none;
  }

  .LogoutModal{
    display: none;
  }

  .ShowLogOutModal{
    display: block;
  }

  #Logout{
    padding: 28px;
    border-radius: 10px;
  }

  .LogoutModalBtn{
    display: flex;
    flex-direction: row-reverse;
    justify-content: flex-start;
    padding: 0 15px 15px 0;

  }

  #Logout:hover{
    background-color: #121212;
    
  }

  .fa-exclamation{
    background-color: yellow;
    padding: 8px;
    border-radius: 5px;
  }

  #CancelLogout{
    background: black;
    padding: 5px 20px;
    color: #fff;
    border-radius: 5px;
  }



/* -------------------------------CHAT LIST ---------------------------- */
#FriendsList{
    width: 50%;
    height: 100%;
    background-color:  #5c159d;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    padding: 20px;
    gap: 5%;
    
  
}

.FriendCategoryBtn{
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    margin-top: 20px;
}

.FriendCategoryBtn button{
  background-color: #fff;
  padding: 10px;
  border-radius: 10px;
  font-weight: bold;
}

.FriendCategoryBtn button:hover{
  opacity: .75;
}

.FriendCategoryBtn button:focus{
  outline: none;
}

  
.SearchFriends{
    width: 100%;
    height: 10vh;
    display: flex;
    justify-content: center;
}

.SearchListContainer{
  width: 100%;
}

.SearchList{
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  margin-bottom: 40px;
  padding: 15px 0 15px 15px;
  border-radius: 15px;
  gap: 5rem;
}

.SearchList:hover{
  background: gray;
  cursor: pointer;
}

.SearchList img{
  width: 20%;
  border-radius: 100%;
  
}

.NamesData h1{
  font-size: 20px;
  color: #fff;
  font-weight: bold;
}
  

#SearchFriendsForm{
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    gap: 30px;
}



#SearchFriendsForm h1{
    font-size: 30px;
    color: #fff;
}
  
.search-container {
    display: flex;
    border: 1px solid #ccc;
    border-radius: 100px;
    overflow: hidden;
    align-items: center; 
    background-color: #fff;
    width: 80%;
    
}
  
.search-container i {
    padding: 10px;
    color: #121212; /* Icon color */
}

.activeBtn{
  opacity: .75;
}
  
.search-container input[type="search"] {
    border: none;
    padding: 10px;
    width: 100%;
    outline: none;
}
  
.Lists{
    width: 100%;
    display: flex;
    gap: 5%;
}
  

/* -------------------------------------FRIENDS PROFILE -------------------------------- */

#FriendsProfileContainer{
  width: 40%;
  height: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  background: rgb(29,47,10);
    background: linear-gradient(90deg, rgba(29,47,10,1) 0%, rgba(140,93,200,1) 0%, rgba(148,187,233,1) 100%);
  color: #fff;

}

.ProfileHeader{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  gap: 20px;
  padding-top: 20px;
}

.ProfileHeader img{
  border-radius: 100%;
}

.ProfileHeader h1{
  font-size: 40px;
}

.ProfileHeader p{
  font-size: 20px;
  opacity: .75;
}

.social_media i{
  font-size: 25px;
  margin-right: 20px;
}

.social_media{
  display: flex;
  justify-content: center;
  gap: 20px;
  width: 100%;
  margin-top: 10px;
}

.add_friend{
  background: #121212;
  padding: 10px;
  border-radius: 15px;
  width: 40%;
  margin-top: 15px;
  color: #fff;
}

#FriendTittle{
  font-size: 20px;
  background: #121212;
  padding: 8px;
  border-radius: 15px;
  width: 40%;
  margin-top: 15px;
  color: #fff;

}

#OwnProfileTittle{
  font-size: 20px;
  background: #121212;
  padding: 8px;
  border-radius: 15px;
  width: 40%;
  margin-top: 15px;
  color: #fff;
}


.ProfileFooter{
  width: 100%;
  height: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}


.ProfileInfo_container ul li{
  padding: 20px 0;
  width: 100%;
 
}

.Email{
  display: flex;
  justify-content: space-around;
  gap: 100px;
}

.Gender {
  display: flex;
  justify-content: space-around;
  gap: 140px;
}

.Birthday{
  display: flex;
  justify-content: space-around;
  gap: 100px;
}


/* -------------------------------------FRIEND REQUEST-------------------------------- */
.FriendRequestContainer{
  width: 100%; 

}

.FriendRequest{
  display: flex; 
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  padding: 20px;
  margin-top: 25px;
  flex-direction: column;
}

.htmlContainer{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin-bottom: 40px;
}

.FriendRequest img{
  width: 50%;
  border-radius: 100%;
}

.SenderFullName{
  width: 40%;
}

.SenderFullName h1{
  color: #fff;
  font-size: 25px;
}

.RequestBtn{
  display: flex;
  gap: 20px;
}

.RequestBtn button{
  padding: 8px 20px;
  font-size: 18px;
}

#ConfirmRequest{
  background: #fff;
  color: #121212;
  border-radius: 10px;

}

#DeleteRequest{
  background: #121212;
  color: #fff;
  border-radius: 10px;
}



/* -------------------------------------FRIEND LISTS-------------------------------- */

.FriendListContainer {
  width: 100%;
  height: 100%;
  margin-top: 20px;
  overflow: auto;
  scrollbar-width: thin;
  scrollbar-color: transparent transparent;
}

.FriendListContainer::-webkit-scrollbar {
  width: 10px; /* Set the width you prefer */
}

.FriendListContainer::-webkit-scrollbar-thumb {
  background-color: gray; /* Set the color you want */
  border-radius: 15px;
  opacity: .75;
}

.FriendListContainer::-webkit-scrollbar-track {
  background-color: transparent; /* Set the color you want for the track */
}


.FriendList{
  display: flex;
  justify-content: flex-start;
  align-items: center;
  height: 100%;
  flex-direction: column;
}

.FriendList img{
  width: 50%;
  border-radius: 100%;
}


#MessageBtn{
  background-color: #fff;
  color: #121212;
  border-radius: 10px;
}

#MessageBtn:hover, #UnfriendBtn:hover{
  opacity: .75;
}

#MessageBtn:focus, #UnfriendBtn:focus{
  outline: none;
}


#UnfriendBtn{
  background-color: #121212;
  color: #fff;
  border-radius: 10px;
}








