
<section id="ChatList">

    <div class="SearchConversation">

        <form action="#" method="POST" id="SearchConversationForm">
            <div class="search-container">
                <i class="fas fa-search"></i>
                <input type="search" placeholder="Search Conversation">
            </div>
        </form>

    </div>



        <div class="ListsContainer"></div>
    

</section>
