
<section id="Messages">
    
    <div class="MessagesNavbar">

        <div class="UserDetails">
            <h4>Picture</h4>

            <div class="Name_Online">
                <h4>Name</h4>
                <h4>Online</h4>
            </div>
            

        </div>


            <div class="NavIcons">

                  <i class="fa-solid fa-phone" id="Call"></i>
                  <i class="fa-solid fa-video" id="VideoCall"></i>
                  <i class="fa-solid fa-circle-info" id="ChatInfo"></i>

            </div>
       

    </div>
      
</section>