<nav style="opacity: 1;" class="sidebar close">
    <header>
      <div class="image-text">

        <span class="image">
          <!-- DIRI BUTANG IMAGE SA USER -->
        </span>

      </div>

     
    </header>

    <div class="menu-bar">
      <div class="menu">

        <ul class="menu-links">
          <li class="nav-link">

            <a href="/account/messages">
              <i style="color: #fff;" class="fa-solid fa-comment-dots"></i> &nbsp; &nbsp;
              <span style="color: #fff;" class="text nav-text">Chats</span>
            </a>

          </li>

          <li class="nav-link">

            <a href="/account/connect">
              <i style="color: #fff;" class="fa-solid fa-user"></i> &nbsp; &nbsp;
              <span style="color: #fff;" class="text nav-text">Friends</span>
            </a>

          </li>

          <li class="nav-link">

            <a href="#">
              <i style="color: #fff;" class="fa-solid fa-gear"></i> &nbsp; &nbsp;
              <span style="color: #fff;" class="text nav-text"> Settings</span>
            </a>
            
          </li>
          

        </ul>
      </div>

      <div style="padding-left: 28px;" class="bottom-content">
      
          
          <i style="color: #fff;" class="fa-solid fa-right-from-bracket" id="Logout"></i>
          


      </div>
    </div>

  </nav>

 