<section id="Introduction">

  <div class="IntroductionMessage_Container">

    <h1>Chat with your Friends and Family</h1>
    <p>
      Introducing ChatHub, your gateway to effortless and real-time
      conversations. Stay connected with friends, family, and colleagues no
      matter where you are. <br />
      Share messages, photos, videos, and more with ease.
    </p>

    <div class="GetStartedBtn">
      <a href="/auth"><button>Get Started</button></a>
    </div>

  </div>

  <img src="/img/ChatHubLandingPageWallpaper.png" alt="" />

</section>
