
<nav id="LadingPageNavbar">

    <div class="ProjectName">
        <h1><i class="fa-solid fa-comment-dots"></i> ChatHub</h1>
    </div>

            <div class="LandingPage_NavLinks">

                <ul>
                    <li>Home</li>
                    <li>Feature</li>               
                    <li>Contact</li>
                </ul>

            </div>



</nav>