
<section id="FriendsList">

    <div class="FriendCategoryBtn">

        <button id="FriendList_Btn" onclick="FriendList_Btn()"><i class="fa-solid fa-user"></i> Friends List</button>
        <button id="SearchFriends_Btn" onclick="SearchFriends_Btn()"><i class="fa-solid fa-magnifying-glass"></i> Search Friends</button>
        <button id="FriendRequest_Btn" onclick="FriendRequest_Btn()"><i class="fa-solid fa-user-group"></i> Friend Requests</button>

    </div>
   

    <div class="SearchFriends">

        <form action="#" method="POST" id="SearchFriendsForm">

            <div class="search-container">
                <i class="fas fa-search"></i>
                <input type="search" name="SearchFullname" placeholder="Enter Full Name">
            </div>

        </form>

    </div>


        <div class="SearchListContainer"></div>



        <div class="Lists">

            <h1>Picture</h1>

            <div class="Name_Email">
                <h1>Name</h1>         
                <h1>Email</h1>
            </div>

        </div>


            <div class="FriendRequestContainer"></div>



    

</section>

